.card {
  font-family: sans-serif;
  font-size: 11px;
  width: 135px;
  height: 20px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.arcanist {
  background-color: #b287b4;
}

.warlord {
  background-color: #b9dcf2;
}

.banker {
  background-color: #fbf3c5;
}

.rogue {
  background-color: #e5c3c1;
}

.gearsmith {
  background-color: #bcbabb;
}

.card .name {
  white-space:nowrap;
  overflow:hidden;
  width: 110px;
}

.card .cost {
  float: left;
  width: 20px;
  height: 100%;
  margin-top: 1px;
  text-align: center;
}

.card .numeric {
  font-family: verdana, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.card .threshold {
  margin-top: -3px;
}

.card.resource {
  text-align: center;
}

.card.resource .name {
  width: 100%;
}

